/**
 * @file
 * Commerce toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-icon-commerce-admin-commerce:before {
  background-image: url("../icons/bebebe/drupal-cart.svg");
}
.toolbar-bar .toolbar-icon-commerce-admin-commerce:active:before {
  background-image: url("../icons/ffffff/drupal-cart.svg");
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-commerce-admin-commerce:before {
  background-image: url("../icons/787878/drupal-cart.svg");
}
.toolbar-tray .toolbar-icon.toolbar-icon-commerce-admin-commerce:active:before,
.toolbar-tray .toolbar-icon.toolbar-icon-commerce-admin-commerce.is-active:before {
  background-image: url("../icons/000000/drupal-cart.svg");
}
