/**
 * @file
 * Styling for Commerce toolbar icons.
 */

/* Bar formatting */
.toolbar-bar .toolbar-icon-commerce-admin-commerce:before {
  background-image: url("../icons/bebebe/drupal-cart.svg");
}

.toolbar-bar .toolbar-icon-commerce-admin-commerce:active:before,
.toolbar-bar .toolbar-icon-commerce-admin-commerce.active:before {
  background-image: url("../icons/ffffff/drupal-cart.svg");
}

/* Tray formatting */
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-commerce-admin-commerce:before {
  background-image: url("../icons/787878/drupal-cart.svg");
}

.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-commerce-admin-commerce:active:before,
.toolbar .toolbar-tray .toolbar-icon.toolbar-icon-commerce-admin-commerce.active:before {
  background-image: url("../icons/000000/drupal-cart.svg");
}
