commerce_price.commerce_currency.*:
  type: config_entity
  label: 'Currency'
  mapping:
    currencyCode:
      type: string
      label: 'Currency code'
    name:
      type: label
      label: 'Name'
    numericCode:
      type: string
      label: 'Numeric code'
    symbol:
      type: label
      label: 'Symbol'
    fractionDigits:
      type: integer
      label: 'Fraction digits'

field.value.commerce_price:
  type: mapping
  label: 'Price'
  mapping:
    number:
      type: string
      label: 'Number'
    currency_code:
      type: string
      label: 'Currency code'

field.field_settings.commerce_price:
  type: mapping
  label: 'Price field settings'
  mapping:
    available_currencies:
      type: sequence
      label: 'Available currencies'
      orderby: value
      sequence:
        type: string

field.formatter.settings.commerce_price_default:
  type: mapping
  label: 'Default price formatter settings'
  mapping:
    strip_trailing_zeroes:
      type: boolean
      label: 'Strip trailing zeroes after the decimal point'
    display_currency_code:
      type: boolean
      label: 'Display the currency code instead of the currency symbol'

field.formatter.settings.commerce_price_calculated:
  type: mapping
  label: 'Calculated price formatter settings'
  mapping:
    strip_trailing_zeroes:
      type: boolean
      label: 'Strip trailing zeroes after the decimal point'
    display_currency_code:
      type: boolean
      label: 'Display the currency code instead of the currency symbol'
