/* $Id$ */

.view-commerce-cart .field-name-total {
  text-align: right;
}

.view-commerce-cart .line-item-summary {
  text-align: right;
}

.view-commerce-cart .line-item-summary .line-item-quantity {
  float: left;
}

.view-commerce-cart .line-item-summary .line-item-total-label {
  font-weight: bold;
}

.view-commerce-cart .line-item-summary .links {
  clear: left;
}

.view-commerce-cart .line-item-summary .links li.last {
  padding-right: 0;
}
