
/**
 * @file
 * Basic styling for the Commerce Price module.
 */

.commerce-price-full .form-item {
  display: inline;
  margin-right: 1em;
}

#edit-parameter-value .commerce-price-full {
  margin: 1em 0;
}

.commerce-price-formatted-components .component-total {
  text-align: right;
}
