{#
/**
 * @file
 * A layout for the checkout registration form
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-checkout-completion-register">
  <div class="commerce-checkout-completion-register__text">
    <h2>{%trans%}Create your account{%endtrans%}</h2>
    <p>{%trans%}Set a password to save your details for next time.{%endtrans%}</p>
  </div>
  <div class="commerce-checkout-completion-register__form">
    {{ form }}
  </div>
</div>
