
/**
 * @file
 * Administration styles for the Commerce Order module.
 *
 * Optimized for the Seven administration theme.
 */

.views-field-operations .links.operations {
  text-transform: lowercase;
  margin-left: 0; /* LTR */
}

/**
 * Order redirect form
 */
#commerce-order-ui-redirect-form .form-item {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
}

#commerce-order-ui-redirect-form .form-submit {
  margin-top: 1.8em;
}
