{#
/**
 * @file
 * Default theme implementation to display an order.
 *
 * Available variables:
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - order_id: The order ID.
 * - order_number: The order number.
 * - type: The order type.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes}}>
  {{ content }}
</div>
