
.commerce-line-item-views-form input.delete-line-item {
  font-size: 0.8em;
  padding: 1px 6px;
}

.commerce-line-item-views-form .cart-subtotal {
  text-align: right;
  font-size: 1.5em;
}

.commerce-line-item-views-form .commerce-line-item-actions {
  text-align: right;
}
