/* $Id$ */

.commerce-line-item-edit-form input.remove-line-item {
  font-size: .8em;
  padding: 1px 6px;
}

.commerce-line-item-edit-form input.remove-line-item:hover,
.commerce-line-item-edit-form input.remove-line-item:focus {
  background: #dedede;
}

.commerce-line-item-edit-form .cart-subtotal {
  text-align: right;
  font-size: 1.5em;
}

.commerce-line-item-edit-form .commerce-line-item-actions {
  text-align: right;
}
