
.line-item-summary {
  text-align: right;
  margin-bottom: 1em;
}

.line-item-summary .line-item-quantity {
  float: left;
}

.line-item-summary .line-item-total-label {
  font-weight: bold;
}

.line-item-summary .links {
  margin-top: .5em;
  clear: left;
}

.line-item-summary .links li.last {
  padding-right: 0;
}
