{#
/**
 * @file
 * Default theme implementation to list store types available for adding stores.
 *
 * Available variables:
 * - types: A list of store types, each with the following properties:
 *   - add_link: link to create a store of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_commerce_store_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl class="commerce-store-type-list">
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_store_type = path('commerce.store_type_add') %}
    {% trans %}
      You have not created any store types yet. Go to the <a href="{{ create_store_type }}">store type creation page</a> to add a new store type.
    {% endtrans %}
  </p>
{% endif %}
