.commerce-credit-card-start .form-item,
.commerce-credit-card-expiration .form-item {
  margin-right: 0;
  margin-left: .25em;
}

.commerce-month-year-divider {
  margin-right: 0;
  margin-left: 3px;
}
