{#
/**
 * @file
 * Default theme implementation to list product types available for adding products.
 *
 * Available variables:
 * - types: A list of product types, each with the following properties:
 *   - add_link: link to create a product of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_commerce_product_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl class="commerce-product-type-list">
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_product_type = path('entity.commerce_product_type.add_form') %}
    {% trans %}
      You have not created any product types yet. Go to the <a href="{{ create_product_type }}">product type creation page</a> to add a new product type.
    {% endtrans %}
  </p>
{% endif %}
