{#
/**
 * @file
 *
 * Default theme implementation for product attribute values.
 *
 * Available variables:
 * - content: Items for the content of the product attribute value.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.sku'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('name') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - attribute_value: The product attribute value object.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes}}>
  {{- content.attribute_value -}}
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
