{#
/**
 * @file
 *
 * Default theme implementation for product attribute values.
 *
 * Available variables:
 * - attribute_value: Items for the content of the product attribute value.
 *   Use 'attribute_value' to print them all, or print a subset such as
 *   'attribute_value.name'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('name') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - attribute_value_entity: The product attribute value object.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes}}>
  {% if attribute_value %}
    {{- attribute_value -}}
  {% endif %}
</div>
