{#
/**
 * @file
 * Default template for payment gateway forms.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-payment-gateway-form clearfix">
  {{ form }}
</div>
